<!DOCTYPE html>
<html>
<head>
  <title>Tabo</title>
  <%= stylesheet_link_tag "tabo/application", media: "all" %>
  <%= javascript_include_tag "tabo/application", 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<!--<div class="container-fluid">-->

  <!--<nav id="mainNav" class="navbar navbar-default navbar-fixed-top">-->
    <!--<div class="container-fluid">-->
      <!--&lt;!&ndash; Brand and toggle get grouped for better mobile display &ndash;&gt;-->
      <!--<div class="navbar-header">-->
        <!--<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">-->
          <!--<span class="sr-only">Toggle navigation</span>-->
          <!--<span class="icon-bar"></span>-->
          <!--<span class="icon-bar"></span>-->
          <!--<span class="icon-bar"></span>-->
        <!--</button>-->
        <%= link_to 'Anil Yadav', root_path, class: "navbar-brand page-scroll" %>
      <!--</div>-->
      <!--&lt;!&ndash; Collect the nav links, forms, and other content for toggling &ndash;&gt;-->
      <!--&lt;!&ndash;<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">&ndash;&gt;-->
        <!--&lt;!&ndash;<ul class="nav navbar-nav navbar-right">&ndash;&gt;-->
          <!--&lt;!&ndash;<li>&ndash;&gt;-->
            <!--&lt;!&ndash;<a class="page-scroll" href="#about">About</a>&ndash;&gt;-->
          <!--&lt;!&ndash;</li>&ndash;&gt;-->
          <!--&lt;!&ndash;<li>&ndash;&gt;-->
            <!--&lt;!&ndash;<a class="page-scroll" href="#portfolio">Portfolio</a>&ndash;&gt;-->
          <!--&lt;!&ndash;</li>&ndash;&gt;-->
          <!--&lt;!&ndash;<li>&ndash;&gt;-->
            <!--&lt;!&ndash;<a class="page-scroll" href="#contact">Contact</a>&ndash;&gt;-->
          <!--&lt;!&ndash;</li>&ndash;&gt;-->
          <!--&lt;!&ndash;&lt;!&ndash;<form class="navbar-form pull-right">&ndash;&gt;&ndash;&gt;-->
          <!--&lt;!&ndash;&lt;!&ndash;<input type="text" class="span2">&ndash;&gt;&ndash;&gt;-->
          <!--&lt;!&ndash;&lt;!&ndash;<button type="submit" class="btn btn-primary">Search&ndash;&gt;&ndash;&gt;-->
          <!--&lt;!&ndash;&lt;!&ndash;</button>&ndash;&gt;&ndash;&gt;-->
          <!--&lt;!&ndash;&lt;!&ndash;</form>&ndash;&gt;&ndash;&gt;-->
        <!--&lt;!&ndash;</ul>&ndash;&gt;-->
      <!--&lt;!&ndash;</div>&ndash;&gt;-->
      <!--&lt;!&ndash; /.navbar-collapse &ndash;&gt;-->
    <!--</div>-->
    <!--&lt;!&ndash; /.container-fluid &ndash;&gt;-->
  <!--</nav>-->
<!--</div>-->
<%= form_tag articles_path, :method => :get, :class => "navbar-form pull-right" do %>
    <%= text_field_tag :search, params[:search], :class => "span2" %>
    <%= submit_tag "Search", :title => nil, :class => "btn btn-primary" %>
<% end %>

<%= yield %>
</body>
</html>
