<div class="header">
  <div class="container-fluid">
    <div class="col-md-12">
          <%#= image_tag "tabo/header.jpg" %>
    </div>
  </div>
</div>
<div class="row">
  <div class="container">
    <div class="col-md-9">
      <p id="notice"><%= notice %></p>

      <h3> <%= @article.title %></h3>
      <pre><code><%= @article.text.html_safe %></code></pre>
      <p>
        <strong>Created at:</strong>
        <%= @article.created_at %>
      </p>
      <h4>Sharing Social Network</h4>
      <%= social_share_button_tag(@article.title, :popup => "true") %>
      <%= link_to 'Edit', edit_article_path(@article), class: "btn btn-md btn-default pull-right" %>
      <%= link_to 'Back', articles_path, class: "btn btn-md btn-default pull-right" %>
    </div>
    <div class="col-md-2 col-md-offset-1 pull-right pad">
      <h4>Other Link</h4>
      <% @articles.each do |article| %>
          <ol class="<%= 'active' if @article == article %>">
            <%= link_to "#{article.title}", article %>
          </ol>
      <% end %>
    </div>
  </div>
</div>
